@model owp_web.Models.WorkItemViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["IsCitizenHome"] = true;
    Layout = "~/Views/Shared/_CitizenLayout.cshtml";
}

<div class="jumbotron jumbotron-fluid citizen-home">
    <div class="container">
        <h1 class="display-4">OWP Citizen Portal</h1>
        <p class="lead">Welcome to the Citizen Portal for the Office of Public Works</p>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">

        <h5>Here you can notify us of issues that you may have with any infrastructure maintained by the Office Of Public Works</h5>

        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <span class="h6">Please specify the type of issue:</span>
                    </div>

                    <fieldset class="container form-group">
                        <div class="row no-gutters">
                            <legend class="col-form-label col-lg-2 pt-0 d-none d-lg-block"></legend>

                            <input asp-for="WorkItem.Latitude" type="hidden" />
                            <input asp-for="WorkItem.Longitude" type="hidden" />
                            <input asp-for="WorkItem.WorkItemType" type="hidden" value="1" />

                            <div class="col-md-12 no-gutters">
                                <div class="list-group align-content-md-start">
                                    <a href="#" class="form-group list-group-item list-group-item-action active" data-toggle="list" id="WorkItemType1" value="1" onclick="javascript: document.getElementById('WorkItem_WorkItemType').value = 1;">
                                        Problem with the asphalt road surface, such as a pothole or cracking
                                    </a>
                                    <a href="#" class="form-group list-group-item list-group-item-action" data-toggle="list" id="WorkItemType2" value="2" onclick="javascript: document.getElementById('WorkItem_WorkItemType').value = 2;">
                                        Problem with broken paving or unevenness
                                    </a>
                                    <a href="#" class="form-group list-group-item list-group-item-action" data-toggle="list" id="WorkItemType3" value="3" onclick="javascript: document.getElementById('WorkItem_WorkItemType').value = 3;">
                                        Problem with a bridge
                                    </a>
                                    <a href="#" class="form-group list-group-item list-group-item-action" data-toggle="list" id="WorkItemType4" value="4" onclick="javascript: document.getElementById('WorkItem_WorkItemType').value = 4;">
                                        Street cleanliness - requiring sweeping
                                    </a>
                                    <a href="#" class="form-group list-group-item list-group-item-action" data-toggle="list" id="WorkItemType5" value="5" onclick="javascript: document.getElementById('WorkItem_WorkItemType').value = 5;">
                                        A fault with traffic signalling or lighting
                                    </a>
                                    <a href="#" class="form-group list-group-item list-group-item-action" data-toggle="list" id="WorkItemType6" value="6" onclick="javascript: document.getElementById('WorkItem_WorkItemType').value = 6;">
                                        A fault with road markings/line painting
                                    </a>
                                    <a href="#" class="form-group list-group-item list-group-item-action" data-toggle="list" id="WorkItemType7" value="7" onclick="javascript: document.getElementById('WorkItem_WorkItemType').value = 7;">
                                        Road inspection required
                                    </a>
                                    <a href="#" class="form-group list-group-item list-group-item-action" data-toggle="list" id="WorkItemType8" value="8" onclick="javascript: document.getElementById('WorkItem_WorkItemType').value = 8;">
                                        A fault with road surface water management
                                    </a>
                                </div>
                                <div class="col-5">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <label asp-for="WorkItem.Address" class="control-label h6">Please specify the address or location of fault or click 'Use current location':</label>
                        <div class="input-group">
                            <input asp-for="WorkItem.Address" class="form-control" autocomplete="off" />
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="useCurrentLocation" onclick="getCurrentLocation()">Use current location</button>
                            </div>
                            <span asp-validation-for="WorkItem.Address" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label h6">Please select your image : </label>
                        <div class="input-group">
                            <input id="image" name="image" type="file" accept="image/*" class="form-control" capture />
                        </div>
                        <div class="col-sm-3">
                            <img width="300" height="300" id="imgpreview" hidden />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="WorkItem.Description" class="control-label h6">Please briefly describe the fault:</label>
                        <textarea asp-for="WorkItem.Description" class="form-control" autocomplete="off"></textarea>
                        <span asp-validation-for="WorkItem.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>


