<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - owp_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
    </header>

    @if (ViewData.TryGetValue("IsCitizenHome", out object isCitizenHomeObj) && isCitizenHomeObj is bool isCitizenHome && isCitizenHome)
    {
        <div class="jumbotron jumbotron-fluid citizen-home">
            <div class="container">
                    <h1 class="display-4">OWP Citizen Portal</h1>
                    <p class="lead">Welcome to the Citizen Portal for the Office of Public Works</p>
                    <form asp-action="Search" method="get">
                        <div class="form-actions">
                            <p>
                                Looking for a previous issue ? <input type="text" name="searchText" />
                                <input type="submit" value="Search" class="btn btn-light" />
                            </p>
                        </div>
                    </form>
            </div>
        </div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Office of Public Works - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> <a asp-area="" asp-controller="CitizenItems" asp-action="Create">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/TechManagerSite.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
