@model owp_web.Models.WorkItemViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>WorkItem</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="WorkItem.Description" class="control-label"></label>
                    <input asp-for="WorkItem.Description" class="form-control" />
                    <span asp-validation-for="WorkItem.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorkItem.Address" class="control-label"></label>
                    <input asp-for="WorkItem.Address" class="form-control" />
                    <span asp-validation-for="WorkItem.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorkItem.WorkItemType" class="control-label"></label>
                    <select asp-for="WorkItem.WorkItemType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(WorkItemTypes)) "></select>
                    <span asp-validation-for="WorkItem.WorkItemType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorkItem.Status" class="control-label"></label>
                    <select asp-for="WorkItem.Status" class="form-control" asp-items="Html.GetEnumSelectList(typeof(WorkItemStatus))"></select>
                    <span asp-validation-for="WorkItem.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorkItem.WorkItemPriority" class="control-label h6">Please select the priority</label>
                    <select asp-for="WorkItem.WorkItemPriority" class="form-control" asp-items="Html.GetEnumSelectList(typeof(WorkItemPriority))">
                        <option selected="selected" value="">-- Select a priority --</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
